<div class="bg-white rounded-lg border shadow-sm p-5 mb-4">
  <div>
    <header class="flex justify-between">
      <h3 class="tracking-tight text-lg font-semibold text-gray-600 mb-3">
        Article Title
      </h3>
      <p class="text-gray-600">26th January 2024</p>
    </header>
    <p class="text-gray-500">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, architecto vitae, modi labore quo sed numquam magni alias deleniti dolorum perferendis laudantium ipsam autem provident adipisci iste vero. Veritatis, perferendis.
    </p>
  </div>
</div>