<nav class="bg-white py-4 shadow-md">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 justify-between items-center">
    <div class="flex flex-row gap-5">
      <img
        src="logo.png"
        class="float-left"
        width="40"
        height="40"
        alt=""
      />
      <h1 class="text-xl font-semibold text-[#8bacd9] float-right my-auto">
        Prime Pursuit
      </h1>
    </div>

    <div class="flex md:space-x-4">
      <a
        class="block px-2 md:px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="index.html"
        >Home</a
      ><a
        class="block px-2 md:px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="team.html"
        >Team</a
      ><a
        class="block px-2 md:px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="archive.html "
        >Archive</a
      >
      <a
        class="block px-2 md:px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="events.html "
        >Events</a
      >
      <a
        class="block px-2 md:px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="contact.html "
        >Contacts</a
      >
    </div>
  </div>
</nav>