<nav class="bg-white py-4 shadow-md">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <h1 class="text-xl font-semibold text-[#8bacd9]">Prime Pursuit</h1>
    <div class="flex space-x-4">
      <a
        class="block px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="index.html"
        >Home</a
      ><a
        class="block px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="team.html"
        >Team</a
      ><a
        class="block px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="archive.html "
        >Archive</a
      >
      <a
        class="block px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="events.html "
        >Events</a
      >
      <a
        class="block px-4 py-2 text-[#8bacd9] font-medium rounded hover:bg-[#8bacd9] hover:text-white transition-colors duration-300"
        href="contact.html "
        >Contacts</a
      >
    </div>
  </div>
</nav>